table{  /* 테이블 전체 */
    border:1px solid;
  
    border-collapse: separate; /* 기본값 */
    border-spacing: 20px 10px;
    border-collapse: collapse;
  
    width: 450px;
    table-layout: fixed;
  }
  
  thead, tfoot {
    background-color: rgb(201, 199, 199);
  }
  tbody {
    background-color: beige;
  }
  
  th, td {
    width: 200px;
    height: 100px;
    padding: 10px;
    text-align: center;
    vertical-align: bottom; /* 테이블에서만 사용가능 top|middle(기본값)|bottom */
    border: 1px dashed red;
  
    word-break: break-all; /* 글자에 공백이 없어도 중간에 끊어서 내림 */
  }
  
  .borderTop {
    border-top: 5px solid rgb(216, 112, 148);
  }
  